
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">PEDIDOS</h2>
    <br />
    <div class="row">
        <form class="form-horizontal">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Desde</label>
                    <div class="col-sm-7">
                        <input id="txtFechaDesde" type="date" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Hasta</label>
                    <div class="col-sm-7">
                        <input id="txtFechaHasta" type="date" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Clientes</label>
                    <div class="col-sm-7">
                        @Html.Partial("comboClientes")
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Estado</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="cmbEstados">
                            <option value="">Elija un estado</option>
                            <option value="C">Cargado</option>
                            <option value="E">Entregado</option>
                            <option value="F">Pago total</option>
                            <option value="PP">Pago parcial</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Repartidor</label>
                    <div class="col-sm-7">
                        @Html.Partial("comboUsuarios")
                    </div>
                    <div class="col-sm-2">
                        <button id="btnBuscar" class="btn btn-success">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default" data-toggle="modal" data-target="#NuevoForm"><i class="fas fa-list-alt"></i>&nbsp;&nbsp;Nuevo Pedido</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tablePedidos" class="table table-hover table-condensed table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <td>ID Pedido</td>
                                    <td>Cliente</td>
                                    <td>Fecha</td>
                                    <td>Estado</td>
                                    <td>Monto</td>
                                    <td>Facturado</td>
                                    <td>Repartidor</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="NuevoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Pedido</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-horizontal" id="formNuevoPedido">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <input type="hidden" id="txtId" value="0"/>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Cliente</label>
                                    <div class="col-sm-9">
                                        <select id="cmbClientesPedido" class="form-control">
                                            <option value="">Elija un cliente</option>
                                            @foreach (var item in ViewBag.ClientesPedido)
                                            {
                                                <option value="@item.cli_id">@item.cli_nombre - @item.cli_direccion</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Repartidor</label>
                                    <div class="col-sm-9">
                                        <select id="cmbUsuariosPedido" class="form-control">
                                            <option value="">Elija un repartidor</option>
                                            @foreach (var item in ViewBag.UsuariosPedido)
                                            {
                                                <option value="@item.usu_usuario">@item.usu_nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Facturado</label>
                                    <div class="col-sm-9">
                                        <input type="text" style="text-align: right;" id="txtFacturado" class="form-control" value="0.00" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Estado</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="cmbEstadosPedido">
                                            <option value="">Elija un estado</option>
                                            <option value="C">Cargado</option>
                                            <option value="E">Entregado</option>
                                            <option value="F">Pago total</option>
                                            <option value="PP">Pago parcial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Entrega</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="txtFechaEntrega"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                    <h4>Listado de Productos</h4>
                    <hr />
                    <form class="form-horizontal" id="formPedidos">
                        <div class="row">
                            <div id="item">
                                <div class="col-sm-3">
                                    <select class="form-control" id="cmbProductos">
                                        <option value="">Elija un producto</option>
                                        @foreach (var item in ViewBag.Productos)
                                        {
                                            <option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">@item.Modelo - @item.Tamanio</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2 cantidad">
                                    <input type="text" id="txtCantidad" class="form-control" placeholder="Packs" />
                                </div>
                                <div class="col-sm-2 precio">
                                    <input type="text" id="txtPrecio" style="text-align: right;" class="form-control" placeholder="Precio" readonly />
                                </div>
                                <div class="col-sm-2 monto">
                                    <input type="text" id="txtMonto" style="text-align: right;" class="form-control" placeholder="Monto" readonly />
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="btnItem" class="btn btn-default btn-block"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" type="submit" id="btnGenerarPedido"><i class="fas fa-cart-arrow-down"></i>&nbsp;Guardar Pedido</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("modalVerDetalle")
</div>

@section Scripts {

    <script src="~/Scripts/Pedidos.js"></script>
    <script type="text/javascript">

        $('#btnItem').click(function () {

            var nuevoItem = '<div class="row" style="margin-top: 5px;"><div id="item"><div class="col-sm-3">' +
                            '<select class="form-control"> <option value="">Elija un producto</option>@foreach (var item in ViewBag.Productos){<option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">@item.Modelo - @item.Tamanio</option>}</select></div>' +
                            '<div class="col-sm-2 cantidad">' +
                            '<input type="text" class="form-control" placeholder="Packs" />' +
                            '</div><div class="col-sm-2 precio"><input type="text" style="text-align: right;" class="form-control" placeholder="Precio" readonly /></div>' +
                            '<div class="col-sm-2 monto"><input type="text" style="text-align: right;" class="form-control" placeholder="Monto" readonly /></div>' +
                            '<div class="col-sm-1"><button type="button" class="btn btn-danger btn-block borrarItem"><i class="fas fa-minus"></i></button></div>' +
                            '</div>';

            $('#formPedidos').append(nuevoItem);

        });

        function toDate(fecha) {

            var parts = fecha.split('-');
            var f = new Date(parts[2], parts[1], parts[0]);
            var anio = f.getFullYear();
            var mes = f.getMonth();
            var dia = f.getDate();

            if (mes < 10)
                mes = '0' + mes;

            if (dia < 10)
                dia = '0' + dia;

            var fechaEntrega = anio + '-' + mes + '-' + dia;

            return fechaEntrega;
        }

        function editarPedido(tbody, tabla) {

            var pedido;

            $(tbody).off('click', 'button.btn-info.btn-xs');
            $(tbody).on('click', 'button.btn-info.btn-xs', function (e) {

                e.preventDefault();

                var data = tabla.row($(this).parents('tr')).data();
                var items = JSON.parse(data[9]);
                var primerItem = items[0];

                //Cargamos los datos especificos del pedido
                $('#txtId').val(parseInt(data[0]));
                $('#cmbClientesPedido').val(parseInt(data[8]));
                $('#cmbUsuariosPedido').val(data[6]);
                $('#txtFacturado').val(parseFloat(data[5]));
                $('#cmbEstadosPedido').val(data[7].trim());
                document.getElementById("txtFechaEntrega").value = toDate(data[2]);

                //Cargamos el primer item
                $('#cmbProductos').val(primerItem.IdProducto);
                $('#txtCantidad').val(primerItem.Cantidad);
                $('#txtPrecio').val(primerItem.Precio);
                $('#txtMonto').val(primerItem.Monto);

                //Cargamos el resto de los items
                for (var i = 1; i < items.length; i++)
                {
                    var nuevoItem = items[i];
                    var nuevoElemento = '<div class="row" style="margin-top: 5px;"><div id="item"><div class="col-sm-3">' +
                                        '<select id="item'+ i +'" class="form-control"> <option value="">Elija un producto</option>@foreach (var item in ViewBag.Productos){<option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">@item.Modelo - @item.Tamanio</option>}</select></div>' +
                                        '<div class="col-sm-2 cantidad">' +
                                        '<input type="text" class="form-control" placeholder="Packs" value="'+ nuevoItem.Cantidad +'"/>' +
                                        '</div><div class="col-sm-2 precio"><input type="text" style="text-align: right;" class="form-control" placeholder="Precio" readonly value="'+ nuevoItem.Precio +'"/></div>' +
                                        '<div class="col-sm-2 monto"><input type="text" style="text-align: right;" class="form-control" placeholder="Monto" readonly value="'+ nuevoItem.Monto +'"/></div>' +
                                        '<div class="col-sm-1"><button type="button" class="btn btn-danger btn-block borrarItem"><i class="fas fa-minus"></i></button></div>' +
                                        '</div>';

                    $('#formPedidos').append(nuevoElemento);
                    $('#item'+i).val(nuevoItem.IdProducto);
                }

                $('#NuevoForm').modal('show');
            });
        }
    </script>

}

@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}




