
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstTipos = (List<Datos.tipo>)ViewBag.Tipos;
    var lstProductos = (List<Entidades.spGetProductos>)ViewBag.Productos;
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">PEDIDOS</h2>
    <br />
    <div class="row">
        <form class="form-horizontal">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Desde</label>
                    <div class="col-sm-7">
                        <input id="txtFechaDesde" type="date" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Hasta</label>
                    <div class="col-sm-7">
                        <input id="txtFechaHasta" type="date" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Clientes</label>
                    <div class="col-sm-7">
                        @Html.Partial("comboClientes")
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Estado</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="cmbEstados">
                            <option value="">Elija un estado</option>
                            <option value="C">Cargado</option>
                            <option value="E">Entregado</option>
                            <option value="F">Pago total</option>
                            <option value="PP">Pago parcial</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Repartidor</label>
                    <div class="col-sm-7">
                        @Html.Partial("comboUsuarios")
                    </div>
                    <div class="col-sm-2">
                        <button id="btnBuscar" class="btn btn-success">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="btnNuevoPedido" class="btn btn-default" data-toggle="modal" data-target="#NuevoForm"><i class="fas fa-list-alt"></i>&nbsp;&nbsp;Nuevo Pedido</button>
        </div>
    </div>
    <br />
    <div class="row" id="tabla" style="display: none;">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tablePedidos" class="table table-hover table-condensed table-bordered table-estilo" style="width:100%">
                            <thead>
                                <tr>
                                    <td>ID Pedido</td>
                                    <td>Cliente</td>
                                    <td>Fecha Entrega</td>
                                    <td>Estado</td>
                                    <td>Monto</td>
                                    <td>Facturado</td>
                                    <td>Repartidor</td>
                                    <td>Vuelta</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="NuevoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Pedido</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="form-horizontal" id="formNuevoPedido">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <input type="hidden" id="txtId" value="0" />
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Cliente</label>
                                    <div class="col-sm-9">
                                        <select id="cmbClientesPedido" class="form-control">
                                            <option value="">Elija un cliente</option>
                                            @foreach (var item in ViewBag.ClientesPedido)
                                            {
                                                <option value="@item.cli_id">
                                                    @item.cli_nombre - @item.cli_direccion
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Repartidor</label>
                                    <div class="col-sm-9">
                                        <select id="cmbUsuariosPedido" class="form-control">
                                            <option value="">Elija un repartidor</option>
                                            @foreach (var item in ViewBag.UsuariosPedido)
                                            {
                                                <option value="@item.usu_usuario">@item.usu_nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Vuelta</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="cmbVueltas">
                                            <option value="">Elija una vuelta</option>
                                            <option value="1">Vuelta I</option>
                                            <option value="2">Vuelta II</option>
                                            <option value="3">Vuelta III</option>
                                            <option value="4">Vuelta IV</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Facturado</label>
                                    <div class="col-sm-9">
                                        <input type="text" style="text-align: right;" id="txtFacturado" class="form-control" value="0.00" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Estado</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="cmbEstadosPedido">
                                            <option value="">Elija un estado</option>
                                            <option value="C">Cargado</option>
                                            <option value="E">Entregado</option>
                                            <option value="F">Pago total</option>
                                            <option value="PP">Pago parcial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Entrega</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="txtFechaEntrega" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label col-sm-3">Descuento</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input id="chkDescuento" type="checkbox" title="Aplica Descuento">
                                            </span>
                                            <input type="text" class="form-control" id="txtDescuento" placeholder="Descuento" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                    <h4>Listado de Productos</h4>
                    <hr />
                    <form class="form-horizontal" id="formPedidos">
                        <div class="row">
                            <div id="item">
                                <div class="col-sm-3">
                                    <select class="form-control" id="cmbProductos">
                                        <option value="">Elija un producto</option>
                                        @for (int i = 0; i < lstTipos.Count; i++)
                                        {
                                            var tipo = lstTipos[i];
                                            <optgroup label="@tipo.tip_descr">
                                                @foreach (var item in lstProductos.Where(x => x.IdTipo == tipo.tip_id).ToList())
                                                {
                                                    <option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">
                                                        @if (item.Modelo.Equals("No Aplica"))
                                                        {
                                                            @(item.Marca + " - " + item.Tamanio)
                                                        }
                                                        else
                                                        {
                                                            @(item.Modelo + " - " + item.Tamanio)
                                                        }
                                                    </option>
                                                }
                                            </optgroup>
                                        }

                                    </select>
                                </div>
                                <div class="col-sm-2 cantidad">
                                    <input type="text" id="txtCantidad" class="form-control" placeholder="Packs" />
                                </div>
                                <div class="col-sm-2 precio">
                                    <input type="text" id="txtPrecio" style="text-align: right;" class="form-control" placeholder="Precio" readonly />
                                </div>
                                <div class="col-sm-2 monto">
                                    <input type="text" id="txtMonto" style="text-align: right;" class="form-control" placeholder="Monto" readonly />
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="btnItem" class="btn btn-default"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" type="submit" id="btnGenerarPedido"><i class="fas fa-cart-arrow-down"></i>&nbsp;Guardar Pedido</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("modalVerDetalle")
</div>

@section Scripts {

    <script>
        $(document).ready(function () {

            //Cargamos los pedidos en el LOAD
            CargarFechas();
            CargarPedidos();

            //Mostrar con efecto FADE al cargar
            $("#tabla").show("fade", { percent: 0 }, 1500);

            $('#btnBuscar').click(function (e) {
                e.preventDefault();
                Limpiar();
                CargarPedidos();
            });

            //Cargarmos los datepickers
            function CargarFechas() {

                var today = new Date();
                var anio = today.getFullYear();
                var mes = today.getMonth() - 2;
                var mesSig = today.getMonth() + 2;
                var dia = today.getDate();

                if (mes < 10)
                    mes = '0' + mes;

                if (mesSig < 10)
                    mesSig = '0' + mesSig;

                if (dia < 10)
                    dia = '0' + dia;

                var fechaDesde = anio + '-' + mes + '-' + dia;
                var fechaHasta = anio + '-' + mesSig + '-' + dia;

                document.getElementById("txtFechaDesde").value = fechaDesde;
                document.getElementById("txtFechaHasta").value = fechaHasta;
            }


            //Función para volver a crear la tabla
            function Limpiar() {
                $("#tablePedidos").dataTable().fnDestroy();
            }

            function LimpiarFormulario() {

                var items = $('#formPedidos').children();
                for (var i = 1; i < items.length; i++) {
                    items[i].remove();
                }

                $('#txtId').val(0);
                $('#txtFacturado').val(0.00);
            }

            //Funcion para limpiar el modal al cerrarse
            $('#NuevoForm').on('hidden.bs.modal', function (e) {

                $(this)
                  .find("input[type=text],textarea,select")
                     .val('')
                     .end()
                  .find("input[type=checkbox], input[type=radio]")
                     .prop("checked", "")
                     .end();

                document.getElementById("txtFechaEntrega").valueAsDate = null;
                $('#txtDescuento').prop('disabled', true);
                LimpiarFormulario();
            });

            $('#btnNuevoPedido').click(function (e) {

                var clienteSeleccionado = $('#cmbClientes').val();

                if (clienteSeleccionado != '' &&
                    clienteSeleccionado != undefined &&
                    clienteSeleccionado != null)
                    $('#cmbClientesPedido').val(clienteSeleccionado);
                else
                    $('#cmbClientesPedido').val('');

            });

            //Habilitamos el botón cuando los campos requeridos esten llenos
            function ValidarFormulario() {

                var marca = $('#cmbMarca').val();
                var modelo = $('#cmbModelo').val();
                var tamanio = $('#cmbTamanio').val();
                var tipo = $('#cmbTipos').val();
                var costo = $('#txtCosto').val();
                var cantPack = $('#txtCantPack').val();
                var porc = $('#txtPorcentaje').val();

                if (marca === "" || modelo === "" ||
                    tamanio === "" || tipo === "" ||
                    costo === "" || cantPack === "" ||
                    porc === "")
                    return false;
                else
                    return true;
            }

            $('#formPedidos').each(function () {

                ($(this)).on('click', function () {

                    //Obtenemos el precio del producto y seteamos el input
                    $('#item > .col-sm-3 > select').on('change', function () {

                        var precio = $(this).children("optgroup").children("option:selected").data('precio');
                        var txtPrecio = $(this).parent().parent().find('.precio').find('input[type="text"]');
                        var txtMonto = $(this).parent().parent().find('.monto').find('input[type="text"]');
                        var txtCantidad = $(this).parent().parent().find('.cantidad').find('input[type="text"]');

                        if ($(this).children("option:selected").val() === '') {
                            $(txtPrecio).val('');
                            $(txtMonto).val('');
                            $(txtCantidad).val('')
                        } else {
                            $(txtPrecio).val(Math.trunc(precio));
                            $(txtMonto).val(Math.trunc(precio * $(txtCantidad).val()));
                        }
                    });

                    //Cuando modificamos la cantidad, calculamos el monto total por item
                    $('#item > .col-sm-2.cantidad > input[type="text"]').keyup(function () {

                        var txtPrecio = $(this).parent().parent().find('.precio').find('input[type="text"]');
                        var txtMonto = $(this).parent().parent().find('.col-sm-2.monto').find('input[type="text"]');
                        var total = $(this).val() * $(txtPrecio).val();
                        $(txtMonto).val(Math.trunc(total));

                    });

                });

            });

            $('#formPedidos').on('click', '.borrarItem', function (e) {
                e.preventDefault();
                $(this).parent().parent().parent().remove();
            });

            $('#formPedidos').on('click', '.itemNuevo', function (e) {

                var nuevoItem = '<div class="row" style="margin-top: 5px;"><div id="item"><div class="col-sm-3">' +
                '<select class="form-control" id="cmbProductos"><option value="">Elija un producto</option>@for (int i = 0; i < lstTipos.Count; i++){var tipo = lstTipos[i];<optgroup label="@tipo.tip_descr">@foreach (var item in lstProductos.Where(x => x.IdTipo == tipo.tip_id).ToList()){<option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">@if (item.Modelo.Equals("No Aplica")){@(item.Marca + " - " + item.Tamanio)}else{@(item.Modelo + " - " + item.Tamanio)}</option>}</optgroup>}</select></div>' +
                '<div class="col-sm-2 cantidad">' +
                '<input type="text" class="form-control" placeholder="Packs" />' +
                '</div><div class="col-sm-2 precio"><input type="text" style="text-align: right;" class="form-control" placeholder="Precio" readonly /></div>' +
                '<div class="col-sm-2 monto"><input type="text" style="text-align: right;" class="form-control" placeholder="Monto" readonly /></div>' +
                '<div class="col-sm-3"><button type="button" class="btn btn-danger borrarItem"><i class="fas fa-minus"></i></button> <button type="button" class="btn btn-default itemNuevo"><i class="fas fa-plus"></i></button></div>' +
                '</div>';

                $('#formPedidos').append(nuevoItem);

            });

            $('#chkDescuento').on('change', function () {

                if ($(this).prop('checked'))
                    $('#txtDescuento').prop('disabled', false);
                else
                    $('#txtDescuento').prop('disabled', true).val('');
            })

            function ValidarDatos(array, objError) {

                var lista1 = array;

                for (var i = 0; i < lista1.length; i++) {

                    if (i < lista1.length - 1) {

                        for (var j = i + 1; j < lista1.length; j++) {

                            if (lista1[i].IdProducto == lista1[j].IdProducto) {
                                objError.bHayError = true;
                                objError.msj = "No pueden existir dos item con el mismo producto";
                            }
                        }
                    }
                }

                for (var i = 0; i < lista1.length; i++) {

                    if (lista1[i].IdProducto == '' || lista1[i].IdProducto == undefined || lista1[i].IdProducto == null) {
                        objError.bHayError = true;
                        objError.msj = "Debe indicar el producto de cada item";
                    }
                }

                for (var i = 0; i < lista1.length; i++) {

                    if (lista1[i].Cantidad == "" || lista1[i].Cantidad == undefined || lista1[i].Cantidad == null) {
                        objError.bHayError = true;
                        objError.msj = "Debe indicar la cantidad de packs de cada item";
                    }
                }

                if ($('#cmbClientesPedido').val() == '' || $('#cmbClientesPedido').val() == undefined || $('#cmbClientesPedido').val() == null) {
                    objError.bHayError = true;
                    objError.msj = "Debe elegir un cliente";
                }

                if ($('#cmbEstadosPedido').val() == '' || $('#cmbEstadosPedido').val() == undefined || $('#cmbEstadosPedido').val() == null) {
                    objError.bHayError = true;
                    objError.msj = "Debe elegir un estado";
                }

                if ($('#txtFechaEntrega').val() == '' || $('#txtFechaEntrega').val() == undefined || $('#txtFechaEntrega').val() == null) {
                    objError.bHayError = true;
                    objError.msj = "Debe elegir una fecha de entrega";
                }

                return objError.bHayError;
            }

            $('#btnGenerarPedido').click(function (e) {

                var objError =
                {
                    bHayError: false,
                    msj: ""
                };

                var Total = 0;
                var IdPedido = $('#txtId').val();
                var Facturado = parseFloat($('#txtFacturado').val());
                var CantidadProductos = 0;
                var CantidadPacks = 0;
                var Productos = [];
                var Estado = $('#cmbEstadosPedido').val().trim();
                var ClienteElegido = $('#cmbClientesPedido').val();
                var Repartidor = $('#cmbUsuariosPedido').val();
                var Vuelta = $('#cmbVueltas').val();
                var FechaEntrega = $('#txtFechaEntrega').val();
                var AplicaDesc = $('#chkDescuento').prop('checked') ? 'S' : 'N';
                var Descuento = $('#chkDescuento').prop('checked') ? parseFloat($('#txtDescuento').val()) : 0;

                //Prevenimos que se realice un nuevo submit
                e.preventDefault();

                $('#formPedidos > .row > #item').each(function () {

                    var monto = $(this).find('.col-sm-2.monto').find('input[type="text"]').val();
                    var packs = $(this).find('.col-sm-2.cantidad').find('input[type="text"]').val();
                    var montoTotal = $('#total').val();
                    Total = parseFloat(Total) + parseFloat(monto);
                    CantidadProductos = parseInt(CantidadProductos) + 1;
                    CantidadPacks = parseInt(CantidadPacks) + parseInt(packs);
                    var id = $(this).find('.col-sm-3').find('select').children('option:selected').data("info");
                    var precio = $(this).find('.col-sm-2.precio').find('input[type="text"]').val();

                    var item = {
                        IdProducto: id,
                        Cantidad: packs,
                        Precio: precio,
                        Monto: monto
                    };

                    Productos.push(item);
                });

                if ($('#chkDescuento').prop('checked'))
                    Total = Total - (Total * (Descuento / 100));

                if (!ValidarDatos(Productos, objError)) {

                    var dataToPost = {
                        xiPedido: IdPedido,
                        xdFechaEntrega: FechaEntrega,
                        xsEstado: Estado,
                        xiCliente: ClienteElegido,
                        xsUsuario: Repartidor,
                        xdTotal: Total,
                        xdFacturado: Facturado,
                        xoProductos: Productos,
                        xsAplicaDesc: AplicaDesc,
                        xdDescuento: Descuento,
                        xiVuelta: Vuelta
                    }

                    swal({
                        title: "¿Desea finalizar el pedido?",
                        text: "Cliente: " + $('#cmbClientesPedido').children('option:selected').html() + ", Cantidad de Productos: " + CantidadProductos + ", Packs: " + CantidadPacks + ", Total: $ " + (Math.round(Total * 100) / 100),
                        icon: "warning",
                        buttons: ['Cancelar', 'Confirmar'],
                        dangerMode: false,
                    }).then(function (bConfirma) {
                        if (bConfirma) {
                            if (Productos.length > 0) {
                                $.ajax({
                                    method: 'POST',
                                    data: dataToPost,
                                    url: '@Url.Action("GuardarPedido","Pedido")',
                                    success: function (response) {

                                        if (response == "") {
                                            swal({
                                                title: "Exito!",
                                                text: "Pedido generado correctamente",
                                                icon: "success",
                                                button: "Aceptar"
                                            });
                                            $('#NuevoForm').modal('hide');
                                            Limpiar();
                                            CargarPedidos();
                                        }
                                        else {
                                            swal({
                                                title: "Error",
                                                text: response,
                                                icon: "error",
                                                button: "Aceptar"
                                            });
                                        }
                                    },
                                    error: function (response) {
                                        swal({
                                            title: "Error",
                                            text: response,
                                            icon: "error",
                                            button: "Aceptar"
                                        });
                                    }
                                });
                            }
                        }
                    });
                }
                else {
                    swal({
                        title: "Atención",
                        text: objError.msj,
                        icon: "warning",
                        button: "Aceptar"
                    });
                }
            });

            function CargarPedidos() {

                var xsFechaDesde = $('#txtFechaDesde').val();
                var xsFechaHasta = $('#txtFechaHasta').val();
                var xiCliente = $('#cmbClientes').val();
                var xsEstado = $('#cmbEstados').val();
                var xsUsuario = $('#cmbUsuarios').val();

                var url = '@Url.Action("GetPedidos","Pedido")?xsFechaDesde=' + xsFechaDesde + '&xsFechaHasta=' + xsFechaHasta +
                          '&xiCliente=' + xiCliente + '&xsEstado=' + xsEstado + '&xsUsuario=' + xsUsuario

                var tabla = $('#tablePedidos').DataTable({
                    "info": false,
                    "ajax": url,
                    aoColumnDefs: [
                        { targets: [0], "bSortable": true, "bVisible": false },
                        { targets: [1], "bSortable": true },
                        { targets: [2], "bSortable": true },
                        { targets: [3], "bSortable": true },
                        { targets: [4], "bSortable": true },
                        { targets: [5], "bSortable": true },
                        { targets: [6], "bSortable": true },
                        { targets: [7], "bSortable": true },
                        {
                            "targets": 8,
                            "data": null,
                            "bSortable": false,
                            "width": "20%",
                            "defaultContent": '<button class="btn btn-info btn-xs" title="Editar"><i class="glyphicon glyphicon-pencil"></i></button> <button class="btn btn-primary btn-xs" title="Ver detalle"><i class="fas fa-list-ul"></i></button> <button class="btn btn-warning btn-xs" title="Imprimir"><i class="glyphicon glyphicon-print"></i></button> <button class="btn btn-danger btn-xs" title="Eliminar"><i class="fas fa-trash-alt"></i></button>'
                        }
                    ],
                    "createdRow": function (row, data, dataIndex) {
                        if (data[8].trim() === "C") {
                            $(row).find("td:eq(2)").css('background-color', 'slategrey').css('color', 'white').css('font-weight', 'bold');
                        } else if (data[8].trim() === "E") {
                            $(row).find("td:eq(2)").css('background-color', '#337ab7').css('color', 'white').css('font-weight', 'bold');
                        } else if (data[8].trim() === "F") {
                            $(row).find("td:eq(2)").css('background-color', '#4cae4c').css('color', 'white').css('font-weight', 'bold');
                        } else if (data[8].trim() === "PP") {
                            $(row).find("td:eq(2)").css('background-color', '#d43f3a').css('color', 'white').css('font-weight', 'bold');
                        }
                    },
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    },
                    initComplete: function (settings, json) {

                        if (json.error !== "") {
                            swal({
                                title: "Error",
                                text: json.error,
                                icon: "error",
                                button: "Aceptar"
                            });
                        }
                        else {
                            data: json.data;
                        }
                    }
                });

                editarPedido('#tablePedidos tbody', tabla);
                imprimir('#tablePedidos tbody', tabla);
                verDetalle('#tablePedidos tbody', tabla);
                eliminarPedido('#tablePedidos tbody', tabla);

            }

            function imprimir(tbody, tabla) {

                $(tbody).off('click', 'button.btn-warning.btn-xs');
                $(tbody).on('click', 'button.btn-warning.btn-xs', function (e) {

                    var data = tabla.row($(this).parents('tr')).data();
                    var id = parseInt(data[0]);

                    var url = '@Url.Action("GetRemito", "Reporte")?xiPedido=' + id;
                    window.open(url);

                });

            }

            function verDetalle(tbody, tabla) {

                $(tbody).off('click', 'button.btn-primary.btn-xs');
                $(tbody).on('click', 'button.btn-primary.btn-xs', function (e) {

                    $('#BodyDetalle > tr').remove();

                    var data = tabla.row($(this).parents('tr')).data();
                    var items = JSON.parse(data[11]);

                    for (var i = 0; i < items.length; i++) {

                        var fila = '<tr style="text-align: center;">' +
                                   '<td>' + items[i].ProductoDescripcion + '</td>' +
                                   '<td>' + items[i].Cantidad + '</td>' +
                                   '<td>' + '$' + items[i].Precio + '</td>' +
                                   '<td>' + '$' + items[i].Monto + '</td>' +
                                   '</tr>';

                        $('#BodyDetalle').append(fila);
                    }

                    $('#detalleModal').modal('show');

                });
            }

            function eliminarPedido(tbody, tabla) {

                $(tbody).off('click', 'button.btn-danger.btn-xs');
                $(tbody).on('click', 'button.btn-danger.btn-xs', function (e) {

                    var data = tabla.row($(this).parents('tr')).data();
                    var id = parseInt(data[0]);
                    var dataToPost = {
                        xiId: id
                    }

                    swal({
                        title: "¿Está seguro que desea eliminar el siguiente pedido?",
                        text: "",
                        icon: "warning",
                        buttons: ['Cancelar', 'Confirmar'],
                        dangerMode: true,
                    }).then(function (bElimina) {
                        if (bElimina) {
                            $.ajax({
                                method: 'POST',
                                url: '@Url.Action("PostEliminarPedido","Pedido")',
                                data: JSON.stringify(dataToPost),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response) {
                                    if (response == '') {
                                        swal("El pedido se eliminó correctamente", {
                                            icon: "success",
                                        });
                                        CargarPedidos();
                                    }
                                    else {
                                        swal({
                                            title: "Error",
                                            text: response,
                                            icon: "error",
                                            buttons: "Aceptar"
                                        });
                                    }
                                },
                                error: function (error) {
                                    swal({
                                        title: "Error",
                                        text: error,
                                        icon: "error",
                                        buttons: "Aceptar"
                                    });
                                }
                            });
                        }
                    })
                });

            }

            $('#btnItem').click(function () {

                var nuevoItem = '<div class="row" style="margin-top: 5px;"><div id="item"><div class="col-sm-3">' +
                                '<select class="form-control" id="cmbProductos"><option value="">Elija un producto</option>@for (int i = 0; i < lstTipos.Count; i++){var tipo = lstTipos[i];<optgroup label="@tipo.tip_descr">@foreach (var item in lstProductos.Where(x => x.IdTipo == tipo.tip_id).ToList()){<option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">@if (item.Modelo.Equals("No Aplica")){@(item.Marca + " - " + item.Tamanio)}else{@(item.Modelo + " - " + item.Tamanio)}</option>}</optgroup>}</select></div>' +
                                '<div class="col-sm-2 cantidad">' +
                                '<input type="text" class="form-control" placeholder="Packs" />' +
                                '</div><div class="col-sm-2 precio"><input type="text" style="text-align: right;" class="form-control" placeholder="Precio" readonly /></div>' +
                                '<div class="col-sm-2 monto"><input type="text" style="text-align: right;" class="form-control" placeholder="Monto" readonly /></div>' +
                                '<div class="col-sm-3"><button type="button" class="btn btn-danger borrarItem"><i class="fas fa-minus"></i></button> <button type="button" class="btn btn-default itemNuevo"><i class="fas fa-plus"></i></button></div>' +
                                '</div>';

                $('#formPedidos').append(nuevoItem);

            });

            function toDate(fecha) {

                var parts = fecha.split('-');
                var f = new Date(parts[2], parts[1], parts[0]);
                var anio = f.getFullYear();
                var mes = f.getMonth();
                var dia = f.getDate();

                if (mes < 10)
                    mes = '0' + mes;

                if (dia < 10)
                    dia = '0' + dia;

                var fechaEntrega = anio + '-' + mes + '-' + dia;

                return fechaEntrega;
            }

            function editarPedido(tbody, tabla) {

                var pedido;

                $(tbody).off('click', 'button.btn-info.btn-xs');
                $(tbody).on('click', 'button.btn-info.btn-xs', function (e) {

                    e.preventDefault();

                    var data = tabla.row($(this).parents('tr')).data();
                    var items = JSON.parse(data[11]);
                    var obj = JSON.parse(data[12]);
                    var primerItem = items[0];

                    //Cargamos los datos especificos del pedido
                    $('#txtId').val(parseInt(data[0]));
                    $('#cmbClientesPedido').val(parseInt(data[9]));
                    $('#cmbUsuariosPedido').val(data[10]);
                    $('#cmbVueltas').val(obj.Vuelta);
                    $('#txtFacturado').val(parseFloat(data[5]));
                    $('#cmbEstadosPedido').val(data[8].trim());
                    $('#chkDescuento').prop('checked', obj.AplicaDescuento == 'S');
                    $('#txtDescuento').val($('#chkDescuento').prop('checked') ? obj.Descuento : '').prop('disabled', !($('#chkDescuento').prop('checked')));
                    document.getElementById("txtFechaEntrega").value = toDate(data[2]);

                    //Cargamos el primer item
                    $('#cmbProductos').val(primerItem.IdProducto);
                    $('#txtCantidad').val(primerItem.Cantidad);
                    $('#txtPrecio').val(Math.round(primerItem.Precio));
                    $('#txtMonto').val(Math.round(primerItem.Monto));

                    //Cargamos el resto de los items
                    for (var i = 1; i < items.length; i++) {
                        var nuevoItem = items[i];
                        var nuevoElemento = '<div class="row" style="margin-top: 5px;"><div id="item"><div class="col-sm-3">' +
                                            '<select id="item' + i + '" class="form-control"> <option value="">Elija un producto</option>@foreach (var item in ViewBag.Productos){<option data-info="@item.IdProducto" data-precio="@item.PrecioVenta" value="@item.IdProducto">@item.Modelo - @item.Tamanio</option>}</select></div>' +
                                            '<div class="col-sm-2 cantidad">' +
                                            '<input type="text" class="form-control" placeholder="Packs" value="' + nuevoItem.Cantidad + '"/>' +
                                            '</div><div class="col-sm-2 precio"><input type="text" style="text-align: right;" class="form-control" placeholder="Precio" readonly value="' + Math.round(nuevoItem.Precio) + '"/></div>' +
                                            '<div class="col-sm-2 monto"><input type="text" style="text-align: right;" class="form-control" placeholder="Monto" readonly value="' + Math.round(nuevoItem.Monto) + '"/></div>' +
                                            '<div class="col-sm-3"><button type="button" class="btn btn-danger borrarItem"><i class="fas fa-minus"></i></button> <button type="button" class="btn btn-default itemNuevo"><i class="fas fa-plus"></i></button></div>' +
                                            '</div>';

                        $('#formPedidos').append(nuevoElemento);
                        $('#item' + i).val(nuevoItem.IdProducto);
                    }

                    $('#NuevoForm').modal('show');
                });
            }

        });
    </script>

}

@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}








