<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ Distribuidora</title>  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><i class="fas fa-home"></i>&nbsp; Inicio</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Cliente")"><i class="fas fa-users"></i>&nbsp; Clientes</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-barcode"></i>&nbsp; Productos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Producto")"><i class="fas fa-dolly"></i>&nbsp; Lista de Productos</a></li>
                            <li><a href="@Url.Action("Marca","Producto")"><i class="fas fa-copyright"></i>&nbsp; Marcas</a></li>
                            <li><a href="@Url.Action("Modelo","Producto")"><i class="fas fa-wine-bottle"></i>&nbsp; Modelos</a></li>
                            <li><a href="@Url.Action("Tamanio","Producto")"><i class="glyphicon glyphicon-stats"></i>&nbsp; Tamaños</a></li>
                        </ul>
                    </li>                    
                    <li><a href="@Url.Action("Index","Pedido")"><i class="fas fa-clipboard-list"></i>&nbsp; Pedidos</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-file-invoice"></i>&nbsp; Informes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("FacturacionMensual","Informe")"><i class="fas fa-dollar-sign"></i>&nbsp; Facturación Mensual</a></li>           
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index","Gasto")"><i class="fas fa-cash-register"></i>&nbsp; Gastos </a></li>
                    <li><a href="@Url.Action("Index","Usuario")"><i class="fas fa-key"></i>&nbsp; Usuarios</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                        <ul class="dropdown-menu">
                            <li><a><i class="glyphicon glyphicon-log-out"></i>&nbsp; Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
