
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">RENDICION</h2>
    <br />
    <div class="row">
        <form class="form-horizontal">
            <div class="col-md-4 col-sm-4 col-xs-3"></div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                    <label class="control-label col-sm-3">Desde</label>
                    <div class="col-sm-7">
                        <input type="date" id="txtDesde" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Hasta</label>
                    <div class="col-sm-7">
                        <input type="date" id="txtHasta" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-block btn-success" id="btnBuscar">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-3"></div>
        </form>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button id="btnNuevo" class="btn btn-default" data-toggle="modal" data-target="#NuevoForm"><i class="fas fa-plus"></i>&nbsp;&nbsp;Nueva Rendicion</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br />
    <div class="row" id="tabla" style="display: none;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tableRendicion" class="table table-hover table-condensed table-bordered table-estilo">
                            <thead>
                                <tr>
                                    <td>ID Rendicion</td>
                                    <td>Desde</td>
                                    <td>Hasta</td>
                                    <td>Total</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="modal fade" id="NuevoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar/Modificar Rendicion</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <form id="RendicionForm" class="form-horizontal">
                                <input type="hidden" id="txtId" name="id" />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="date" class="form-control" id="txtFechaDesde" name="Desde" placeholder="Desde" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="date" class="form-control" id="txtFechaHasta" name="Hasta" placeholder="Hasta" />
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" type="submit" id="btnGuardar"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   @Html.Partial("modalVerDetalle")
</div>



@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            CargarFechas();
            CargarDatos();

            //Mostrar con efecto FADE al cargar
            $("#tabla").show("fade", { percent: 0 }, 1500);

            //Cargarmos los datepickers
            function CargarFechas() {

                var fechaActual = new Date();

                $('#txtDesde').val(moment(fechaActual).subtract(1,'months').format('YYYY-MM-DD'));
                $('#txtHasta').val(moment(fechaActual).format('YYYY-MM-DD'));
            }

            function Limpiar() {
                $("#tableRendicion").dataTable().fnDestroy();
            }

            $('#NuevoForm').on('hidden.bs.modal', function (e) {

                $(this)
                  .find("input[type=text],textarea,select")
                     .val('')
                     .end()
                  .find("input[type=checkbox], input[type=radio]")
                     .prop("checked", "")
                     .end();

                $('#txtId').val(0);
                document.getElementById("txtFecha").valueAsDate = null;
            });

            function CargarDatos() {

                var fechaDesde = $('#txtDesde').val();
                var fechaHasta = $('#txtHasta').val();

                var url = '@Url.Action("GetRendicion","Rendicion")?xsFechaDesde=' + fechaDesde + '&xsFechaHasta=' + fechaHasta;

                var tabla = $('#tableRendicion').DataTable({
                    select: true,
                    "ajax": url,
                    "info": false,
                    aoColumnDefs: [
                        { targets: [0], "bSortable": true, "bVisible": false },
                        { targets: [1], "bSortable": true },
                        { targets: [2], "bSortable": true },
                        { targets: [3], "bSortable": true },
                        {
                            "targets": 4,
                            "data": null,
                            "bSortable": false,
                            "width": "20%",
                            "defaultContent": '<button class="btn btn-primary btn-xs" title="Ver detalle"><i class="fas fa-list-ul"></i></button> <button class="btn btn-warning btn-xs" title="Imprimir"><i class="glyphicon glyphicon-print"></i></button> <button class="btn btn-danger btn-xs" title="Eliminar"><i class="fas fa-trash-alt"></i></button>'
                        }
                    ],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    },
                    initComplete: function (settings, json) {

                        if (json.error !== "") {
                            swal({
                                title: "Error",
                                text: json.error,
                                icon: "error",
                                button: "Aceptar"
                            });
                        }
                        else {
                            data: json.data;
                        }
                    }
                });

                verDetalle('#tableRendicion tbody', tabla);
                imprimir('#tableRendicion tbody', tabla);
                //editarRendicion('#tableRendicion tbody', tabla);
                eliminarRendicion('#tableRendicion tbody', tabla);
            }


            //function editarRendicion(tbody, tabla) {

            //    $(tbody).off('click', 'button.btn-info.btn-xs');
            //    $(tbody).on('click', 'button.btn-info.btn-xs', function () {

            //        var data = tabla.row($(this).parents('tr')).data();
            //        var Rendicion = JSON.parse(data[3]);

            //        $('#txtId').val(rendicion.ren_id);
            //        document.getElementById("txtDesde").value = toDate(data[0]);
            //        document.getElementById("txtHasta").value = toDate(data[1]);
            //        $('#txtTotal').val(rendicion.res_total);

            //        $('#NuevoForm').modal('show');
            //    });
            //}
            function verDetalle(tbody, tabla) {

                $(tbody).off('click', 'button.btn-primary.btn-xs');
                $(tbody).on('click', 'button.btn-primary.btn-xs', function (e) {

                    $('#BodyDetalle > tr').remove();

                    var data = tabla.row($(this).parents('tr')).data();
                    var items = JSON.parse(data[4]);

                    for (var i = 0; i < items.length; i++) {

                        var fila = '<tr style="text-align: center;">' +
                                   '<td>' + items[i].Fecha + '</td>' +
                                   '<td>' + items[i].Nombre + '</td>' +
                                   '<td>' + '$' + items[i].Costo + '</td>' +
                                   '</tr>';

                        $('#BodyDetalle').append(fila);
                    }

                    $('#detalleModal').modal('show');

                });
            }
            function eliminarRendicion(tbody, tabla) {

                $(tbody).off('click', 'button.btn-danger.btn-xs');
                $(tbody).on('click', 'button.btn-danger.btn-xs', function (e) {

                    var data = tabla.row($(this).parents('tr')).data();
                    var id = parseInt(data[0]);
                    var dataToPost = {
                        xiId: id
                    }

                    swal({
                        title: "¿Está seguro que desea eliminar la siguiente Rendicion?",
                        text: "",
                        icon: "warning",
                        buttons: ['Cancelar', 'Confirmar'],
                        dangerMode: true,
                    }).then(function (bElimina) {
                        if (bElimina) {
                            $.ajax({
                                method: 'POST',
                                url: '@Url.Action("PostEliminarRendicion","Rendicion")',
                                data: JSON.stringify(dataToPost),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response) {
                                    if (response == '') {
                                        swal("El registro se eliminó correctamente", {
                                            icon: "success",
                                        });
                                        Limpiar();
                                        CargarDatos();
                                    }
                                    else {
                                        swal({
                                            title: "Error",
                                            test: response,
                                            icon: "error",
                                            buttons: "Aceptar"
                                        });
                                    }
                                },
                                error: function (error) {
                                    swal({
                                        title: "Error",
                                        text: error,
                                        icon: "error",
                                        buttons: "Aceptar"
                                    });
                                    console.log(error);
                                }
                            });
                        }
                    })
                });

            }

            function PuedeGuardar(objError) {

                var desde = $('#txtFechaDesde').val();
                var hasta = $('#txtFechaHasta').val();

                if (desde == null || desde == '' || desde == undefined) {
                    objError.bPuede = false;
                    objError.msj = "Debe ingresar la fecha Desde de la Rendicion";
                }
                if (hasta == null || hasta == '' || hasta == undefined) {
                    objError.bPuede = false;
                    objError.msj = "Debe ingresar la fecha Hasta de la Rendicion";
                }
                if (hasta < desde) {
                    objError.bPuede = false;
                    objError.msj = "La fecha Hasta no puede ser anterior a Desde";
                }


                return objError.bPuede;
            }

            function GuardarRendicion() {

                var objError = {
                    bPuede: true,
                    msj: ''
                }

                if (PuedeGuardar(objError)) {
                    var dataToPost = {

                        //Id: $('#txtId').val(),
                        Desde: $('#txtFechaDesde').val(),
                        Hasta: $('#txtFechaHasta').val(),
                        //Total: $('#txtTotal').val()
                    };

                    $.ajax({

                        method: 'POST',
                        url: '@Url.Action("PostGuardarRendicion","Rendicion")',
                        data: JSON.stringify(dataToPost),
                        type: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            if (response == '') {
                                swal({
                                    title: 'Rendicion',
                                    text: 'Rendicion guardada correctamente',
                                    icon: 'success',
                                    button: 'Aceptar'
                                });
                                $('#NuevoForm').modal('hide');
                                Limpiar();
                                CargarDatos();
                            }
                            else {
                                swal({
                                    title: 'Rendicion',
                                    text: response,
                                    icon: 'warning',
                                    button: 'Aceptar'
                                });
                            }
                        },
                        error: function (error) {
                            swal({
                                title: 'Error',
                                text: error,
                                icon: 'error',
                                button: 'Aceptar'
                            });
                        }
                    });
                }
                else {
                    swal({
                        title: 'Atención',
                        text: objError.msj,
                        icon: 'warning',
                        button: 'Aceptar'
                    });
                }
            }

            $('#btnGuardar').click(function (e) {
                e.preventDefault();
                GuardarRendicion();
            });

            $('#btnBuscar').click(function (e) {
                e.preventDefault();
                Limpiar();
                CargarDatos();
            });
        });

            function imprimir(tbody, tabla) {

                $(tbody).off('click', 'button.btn-warning.btn-xs');
                $(tbody).on('click', 'button.btn-warning.btn-xs', function (e) {

                    var data = tabla.row($(this).parents('tr')).data();
                    var id = parseInt(data[0]);

                    var url = '@Url.Action("spRptRendicion", "Reporte")?xiRendicion=' + id;
                    window.open(url);

                });

            }

    </script>

}

@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}





