@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <div class="text-center">
        <h1 class="h1">BIENVENIDO AL SISTEMA</h1>
    </div>
    <br />
    <div id="wrapper" style="display: none;">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">GRAFICO DE GANANCIA NETA MENSUAL - @DateTime.Now.Year</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-4" id="cuadro1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;CLIENTES CON MAYORES VENTAS ($)</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tablaClientesMayoresVentas" class="table">
                                <tbody>
                                    @foreach (var item in ViewBag.ClientesMayoresVenta)
                                    {
                                        <tr>
                                            <td>@item.Cliente</td>
                                            <td>@Math.Round(item.Monto, 0)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="cuadro2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;CLIENTES MOROSOS ($)</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tablaClientesMorosos" class="table">
                                <tbody>
                                    @foreach (var item in ViewBag.ClientesMorosos)
                                    {
                                        <tr>
                                            <td>@item.Cliente</td>
                                            <td>@Math.Round(item.Monto, 0)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="cuadro3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;PRODUCTOS MAS VENDIDOS</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tablaProductosMasVendidos" class="table">
                                <tbody>
                                    @foreach (var item in ViewBag.ProductosMasVendidos)
                                    {
                                        <tr>
                                            <td>@item.Producto</td>
                                            <td>@item.CantidadPacks</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
@section Scripts {

    <script>

        $(document).ready(function () {

            $('#wrapper').show("fade", {percent: 0}, 1000);

            $.ajax({

                method: 'GET',
                url: '/Home/GetDatosGrafico',
                success: function (response) {

                    if (response.error != "") {
                        swal({
                            title: "Error",
                            text: response.error,
                            icon: "error",
                            button: "Aceptar"
                        })
                    }
                    else {
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: response.dataMeses,
                                datasets: [{
                                    label: 'Ganancia por Mes',
                                    data: response.dataMontos,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            }
                        });
                    }
                }
            });
        });
                        
    </script>

}

@section Styles {

    <style>
        #tablaClientesMayoresVentas tbody tr, 
        #tablaClientesMorosos tbody tr,
        #tablaProductosMasVendidos tbody tr {
            font-size: 15px;
        }

        #tablaClientesMayoresVentas tbody tr td:first-child + td,
        #tablaClientesMorosos tbody tr td:first-child + td,
        #tablaProductosMasVendidos tbody tr td:first-child + td {
            text-align: center;
        }

        #tablaClientesMayoresVentas tbody tr:first-child,
        #tablaClientesMorosos tbody tr:first-child,
        #tablaProductosMasVendidos tbody tr:first-child {
            font-weight: bold;
        }

    </style>

}