
@{
    ViewBag.Title = "EditorPrecios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding-top: 50px;">
    <h2 class="h2 text-center">EDITAR PRECIOS</h2>
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("Index", "Producto")" class="btn btn-default"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Volver a Productos</a>
            <button id="btnGuardar" class="btn btn-default"><i class="fas fa-save"></i>&nbsp;&nbsp; Guardar Cambios</button>
        </div>
    </div>
    <br />
    <div class="row" id="tabla" style="display: none;">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="EditorTable" class="table table-hover table-estilo">
                            <thead>
                                <tr>
                                    <td>Marca</td>
                                    <td>Tamaño</td>
                                    <td>Porcentaje</td>
                                    <td>Costo</td>
                                    <td>Precio Venta</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Productos)
                                {
                                    <tr>
                                        <td data-info="@item.IdMarca">@item.Marca</td>
                                        <td data-info="@item.IdTamanio">@item.Tamanio</td>
                                        <td><input style="text-align: right;" type="text" name="porc" class="form-control input-sm" value="@Math.Round(item.Porcentaje, 2)" /></td>
                                        <td><input style="text-align: right;" type="text" name="costo" class="form-control input-sm" value="@Math.Round(item.Costo, 2)" /></td>
                                        <td><input style="text-align: right;" type="text" name="pv" class="form-control input-sm" value="@Math.Round(item.PrecioVenta, 2)" readonly /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/Precios.js"></script>

}

@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}




