
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 50px;">
    <h2 class="h2 text-center">PRODUCTOS</h2>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default" data-toggle="modal" data-target="#NuevoForm"><i class="fas fa-cart-plus"></i>&nbsp;&nbsp;Nuevo Producto</button>
            <a href="@Url.Action("EditorPrecios", "Producto")" class="btn btn-default"><i class="fas fa-edit"></i>&nbsp;&nbsp;Editar Precios</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tableProductos" class="table table-hover table-condensed table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <td>Marca</td>
                                    <td>Modelo</td>
                                    <td>Tamaño</td>
                                    <td>Tipo</td>
                                    <td>Cant. X Pack</td>
                                    <td>P. Unitario ($)</td>
                                    <td>Costo ($)</td>
                                    <td>Porcentaje (%)</td>
                                    <td>Precio ($)</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NuevoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Productos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <form id="ProductoForm" class="form-horizontal">
                                <input type="hidden" id="txtId" name="id" />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.Partial("comboMarcas")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="cmbModelos">
                                            <option value="">Elija un modelo</option>
                                            @foreach (var item in ViewBag.ComboModelos)
                                            {
                                                <option data-info="@item.mod_marca" value="@item.mod_id">@item.mod_nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.Partial("comboTamanios")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.Partial("comboTipos")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" id="txtCantPack" class="form-control" placeholder="Cantidad por pack" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <input type="text" id="txtPorcentaje" class="form-control" placeholder="Porcentaje por venta" style="text-align:right;" />
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" id="txtCosto" class="form-control" placeholder="Costo" style="text-align:right;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" readonly id="txtPV" class="form-control" placeholder="Precio de Venta" style="text-align:right;" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" type="submit" id="btnAgregar"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/currency.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            //Cargamos la grilla en el LOAD
            CargarDatos();

            //Obtenemos la lista de localidades para filtrarla
            var optModelos = $('#cmbModelos option');

            //Función para volver a crear la tabla
            function Limpiar() {
                $("#tableProductos").dataTable().fnDestroy();
            }

            //Funcion para limpiar el modal al cerrarse
            $('#NuevoForm').on('hidden.bs.modal', function (e) {

                $(this)
                  .find("input[type=text],textarea,select")
                     .val('')
                     .end()
                  .find("input[type=checkbox], input[type=radio]")
                     .prop("checked", "")
                     .end();
            });

            //Funcion para modificar el valor PV
            $('#txtPorcentaje').keyup(function () {

                var valorPorc = parseFloat($(this).val());
                var valorCosto = parseFloat($('#txtCosto').val());
                var valorPV = (valorCosto / (1 - (valorPorc / 100)));

                if (valorCosto == 'NaN' || valorCosto == NaN) {
                    $('#txtPV').val(0);
                } else {
                    $('#txtPV').val(Math.round(valorPV * 100) / 100);
                }

            });

            $('#txtCosto').keyup(function () {

                var valorCosto = parseFloat($(this).val());
                var valorPorc = parseFloat($('#txtPorcentaje').val());
                var valorPV = (valorCosto / (1 - (valorPorc / 100)));

                if (valorPorc == 'NaN' || valorPorc == NaN) {
                    $('#txtPV').val(0);
                } else {
                    $('#txtPV').val(Math.round(valorPV * 100) / 100);
                }


            });

            //Habilitamos el botón cuando los campos requeridos esten llenos
            function ValidarFormulario() {

                var marca = $('#cmbMarca').val();
                var modelo = $('#cmbModelo').val();
                var tamanio = $('#cmbTamanio').val();
                var tipo = $('#cmbTipos').val();
                var costo = $('#txtCosto').val();
                var cantPack = $('#txtCantPack').val();
                var porc = $('#txtPorcentaje').val();

                if (marca == "" || modelo == "" ||
                    tamanio == "" || tipo == "" ||
                    costo == "" || cantPack == "" ||
                    porc == "")
                    return false;
                else
                    return true;
            }

            $('#btnAgregar').click(function (e) {

                //Prevenimos que se realice un nuevo submit
                e.preventDefault();

                //Cargamos el objeto ProductoForm
                var dataToPost = {
                    Id: $('#txtId').val(),
                    Marca: $('#cmbMarcas').val(),
                    Modelo: $('#cmbModelos').val(),
                    Tamanio: $('#cmbTamanios').val(),
                    Tipo: $('#cmbTipos').val(),
                    CantidadPack: $('#txtCantPack').val(),
                    Costo: $('#txtCosto').val(),
                    Porcentaje: $('#txtPorcentaje').val(),
                    PrecioVenta: $('#txtPV').val()
                }

                //Si la validación es correcta, hacemos la llamada AJAX
                if (ValidarFormulario()) {

                    $.ajax({
                        method: 'POST',
                        data: JSON.stringify(dataToPost),
                        url: '/Producto/PostGuardarProducto',
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {

                            if (response == '') {

                                $('#NuevoForm').modal('hide');

                                swal({
                                    title: "Exito!",
                                    text: "Producto agregado correctamente",
                                    icon: "success",
                                    button: "Aceptar",
                                });

                                Limpiar();
                                CargarDatos();
                            }
                            else {
                                swal({
                                    title: "Error",
                                    text: response,
                                    icon: "error",
                                    button: "Ok",
                                });
                            }
                        },
                        error: function (response) {
                            swal({
                                title: "Error",
                                text: response,
                                icon: "Error",
                                button: "Ok",
                            });
                        }
                    });
                }
                else {
                    swal({
                        title: "Error",
                        text: "Ningún campo debe estar vacío",
                        icon: "warning",
                        button: "Aceptar",
                    });
                }
            });

            $("#cmbMarcas").on('change', function () {

                var valor = $(this).val();

                if (valor === null || valor === "" || valor === undefined)
                    $("#cmbModelos").val('');
                else {
                    $("#cmbModelos").empty();
                    $('#cmbModelos').append("<option value=''>Elija un modelo</option>");
                    $(optModelos).each(function () {
                        if ($(this).data("info") == valor) {
                            $("#cmbModelos")
                                .append($("<option></option>")
                                .val($(this).val())
                                .html($(this).html()));
                        }
                    });

                    console.log($('#cmbModelos').children('option').length);

                    if ($('#cmbModelos').children('option').length == 1) {
                        $('#cmbModelos').prop('disabled', true);
                    } else {
                        $('#cmbModelos').prop('disabled', false);
                    }
                }
            });

            function CargarDatos() {
                $.ajax({
                    method: 'GET',
                    url: '/Producto/GetProductos',
                    success: function (response) {
                        console.log(response);
                        if (response.error == "") {
                            var tabla = $('#tableProductos').DataTable({
                                data: response.data,
                                "info": false,
                                columns: [
                                    { 'data': 'Marca' },
                                    { 'data': 'Modelo' },
                                    { 'data': 'Tamanio' },
                                    { 'data': 'Tipo' },
                                    { 'data': 'CantidadPack' },
                                    { 'data': 'PrecioUnitario' },
                                    { 'data': 'Costo' },
                                    { 'data': 'Porcentaje' },
                                    { 'data': 'PrecioVenta' },
                                    { 'defaultContent': '<button class="btn btn-danger btn-xs" title="Eliminar"><i class="fas fa-trash-alt"></i></button>' }
                                ],
                                aoColumnDefs: [
                                    { "aTargets": [4], "width": "10%", "bSortable": false },
                                    { "aTargets": [5], "bSortable": false, type: 'currency' },
                                    { "aTargets": [6], "bSortable": false, type: 'currency' },
                                    { "aTargets": [7], "bSortable": false, type: 'currency' },
                                    { "aTargets": [8], "bSortable": false, type: 'currency' },
                                    { "aTargets": [9], "bSortable": false }
                                ],
                                "language": {
                                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                                }
                            });

                            eliminarProducto('#tableProductos tbody', tabla);
                        }
                        else {
                            swal({
                                title: "Error",
                                text: response.error,
                                icon: "error",
                                button: "Aceptar",
                            });
                        }
                    },
                    error: function (response) {
                        swal({
                            title: "Error",
                            text: response,
                            icon: "error",
                            button: "Aceptar",
                        });
                    }
                });
            }

            var eliminarProducto = function (tbody, table) {

                $(tbody).off('click', 'button.btn-danger.btn-xs');
                $(tbody).on('click', 'button.btn-danger.btn-xs', function () {

                    var data = table.row($(this).parents('tr')).data();
                    var dataToPost = {
                        xiId: data.IdProducto
                    }

                    swal({
                        title: "¿Está seguro?",
                        text: "No podrá recuperar el registro una vez eliminado",
                        icon: "warning",
                        buttons: ['Cancelar', 'Confirmar'],
                        dangerMode: true,
                    }).then(function (bElimina) {
                        if (bElimina) {
                            $.ajax({
                                method: 'POST',
                                url: '/Producto/PostEliminarProducto',
                                data: JSON.stringify(dataToPost),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response) {
                                    if (response == '') {
                                        swal("El registro se eliminó correctamente", {
                                            icon: "success",
                                        });
                                        Limpiar();
                                        CargarDatos();
                                    }
                                    else {
                                        swal(response, {
                                            icon: "error",
                                            buttons: "Aceptar"
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        }
                    })
                });
            }


        });

    </script>

}

@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

}
